.note {
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0px;
  border-radius: 4px;
}
.note .moveBare {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  user-select: none;
  background-color: #d37768;
}
.note .moveBare .form-control {
  flex: 1;
  margin-right: 50px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}
.note .moveBare .delete-btn {
  background-color: #dc3545;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
.note textarea {
  width: 290px;
  height: 100px;
  padding: 5px;
  background-color: #fff6e2;
  border: none;
  font-size: 14px;
  resize: vertical;
}
